anypoint-examples-4.1/proxying-a-rest-api/src/main/mule/proxying-a-rest-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e6753614-77f7-4f50-8cec-7959e87932d3" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="16d9afbb-fbe3-4940-83fa-362e1930c810" >
		<http:request-connection protocol="HTTPS" host="api.box.com" port="443">
			<tls:context >
				<tls:key-store type="jks" path="keystore.jks" keyPassword="${keystore.key}" password="${keystore.password}" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="651d1b4e-b119-47f9-88ac-c6a97647a2f8" file="mule-artifact.properties" />
	<flow name="proxying-a-rest-apiFlow" doc:id="d9b6c345-8030-44fc-a262-56598bfebd4e" >
		<http:listener config-ref="HTTP_Listener_config" path="/*" doc:name="Receive HTTP requests from apps" doc:id="eaa84388-bf48-48a8-8c7c-8b041b57b408" />
		<http:request config-ref="HTTP_Request_configuration" path="#[attributes.requestPath]" method="#[attributes.method]" doc:name="Send requests to API" followRedirects="true">
			<http:headers ><![CDATA[#[output applicaton/java
				---
				{
					"Authorization" : attributes.headers.authorization
				}]]]></http:headers>
			<http:query-params >#[attributes.queryParams]</http:query-params>
		</http:request>
	</flow>
</mule>
