anypoint-examples-4.1/sap-data-retrieval/src/main/mule/sap-data-retrieval.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="sap-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    
    <apikit:config name="sap-api-config" raml="sap-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <sap:outbound-config name="SAP_Outbound" doc:name="SAP Outbound" doc:id="fdc3a8d0-03ca-4cab-bdb8-697ef530c6a5" >
		<sap:simple-connection-provider-connection applicationServerHost="${sap.jco.ashost}" username="${sap.jco.user}" password="${sap.jco.passwd}" systemNumber="${sap.jco.sysnr}" client="${sap.jco.client}" language="${sap.jco.lang}" />
	</sap:outbound-config>
	<configuration-properties doc:name="Configuration properties" doc:id="883e069f-4920-4ad9-96e4-af1cc03c2de5" file="mule-artifact.properties" />
	<flow name="sap-api-main">
        <http:listener config-ref="sap-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sap-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE" doc:name="On Error Propagate" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sap-api-console">
        <http:listener config-ref="sap-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sap-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="6c3e91cb-857c-4397-b899-e3fb8e829c13">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\customers:sap-api-config">
		<ee:transform doc:name="Transform Map to Xml BAPI_CUSTOMER_FIND" doc:id="a453b8af-8e46-4195-98fb-b9dc649f4caa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	"BAPI_CUSTOMER_FIND": {
		"import": {
			"MAX_CNT":  attributes.queryParams.max_count default 10,
			"PL_HOLD": "X"
		},
		"tables": {
			"SELOPT_TAB": {
				"row": {
					"COMP_CODE": "0001",
					"TABNAME": "KNA1",
					"FIELDNAME": "NAME1",
					"FIELDVALUE": if(attributes.queryParams.name != null) (attributes.queryParams.name ++ "*")
						else ("*")		
				}
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sap:execute-synchronous-remote-function-call doc:name="Get Customers" doc:id="60c6d210-6a3d-48e6-8643-c04842a5c37a" config-ref="SAP_Outbound" key="BAPI_CUSTOMER_FIND"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="fa2006bd-6755-42d8-8f54-8d7547781f8f" doc:name="Transform Xml BAPI_CUSTOMER_FIND To JSON">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
customers: payload."BAPI_CUSTOMER_FIND".tables.RESULT_TAB.*row
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\materials:sap-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="60143bc5-eb62-4fe6-8591-cda0cfa8c39b" doc:name="Transform Map to Xml BAPI_MATERIAL_GETLIST">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	"BAPI_MATERIAL_GETLIST": {
		"import": {
			"MAXROWS": attributes.queryParams.max_count default 10
		},
		"tables": {
			"MATERIALSHORTDESCSEL": {
				"row": {
					"SIGN": "I",
					"OPTION": "CP",
					"DESCR_LOW": if(attributes.queryParams.name != null) (attributes.queryParams.name ++ "*")
						else ("*")
				}
			}
		}
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<sap:execute-synchronous-remote-function-call key="BAPI_BANK_GETLIST" doc:name="Get Materials" doc:id="eea618cf-350d-4bf8-811a-1b46f3a596f6" config-ref="SAP_Outbound"/>
		<ee:transform doc:name="Transform XML BAPI_MATERIAL_GETLIST to JSON" doc:id="b01e8551-7af7-40e5-b527-558815fea9d7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (payload."BAPI_MATERIAL_GETLIST".tables.MATNRLIST != null) 
	(materials: payload."BAPI_MATERIAL_GETLIST".tables.MATNRLIST.*row)
	else { message:"No data found."} 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\salesOrders:sap-api-config">
		<ee:transform doc:name="Transform Map to Xml BAPI_SALESORDER_GETLIST" doc:id="e8dcda5c-6309-4af6-8571-b618310e5fad">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	"BAPI_SALESORDER_GETLIST": {
		"import": {
			"CUSTOMER_NUMBER": attributes.queryParams.customer_number,
			"SALES_ORGANIZATION": attributes.queryParams.sales_organization
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sap:execute-synchronous-remote-function-call doc:name="Get Sales orders" doc:id="97a88923-3560-40f0-8f6f-6b25e51fcbc3" config-ref="SAP_Outbound" key="BAPI_SALESORDER_GETLIST"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7c3b2a28-dacf-4c70-99b8-19c940ac00a7" doc:name="Transform Xml BAPI_SALESORDER_GETLIST To JSON">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if(payload."BAPI_SALESORDER_GETLIST".tables.SALES_ORDERS != null) 
	(salesOrders:  payload."BAPI_SALESORDER_GETLIST".tables.SALES_ORDERS.*row) 
	else { message:"No data found."}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
