anypoint-examples-4.1/adding-a-new-customer-to-workday-revenue-management/src/main/mule/adding-a-new-customer-to-workday-revenue-management.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a3dd3031-f6ff-4b2a-9349-a493358bd50d" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<workday:config name="Workday_Config" doc:name="Workday Config" doc:id="a055f94a-1d99-4063-89ba-a1eb89daf553" >
		<workday:basic-connection username="${wday.username}" password="${wday.password}" tenantName="${wday.tenant}" hostName="${wday.host}" >
			<workday:transport >
				<workday:default-http-dispatcher-provider />
			</workday:transport>
		</workday:basic-connection>
	</workday:config>
	<configuration-properties doc:name="Configuration properties" doc:id="92709f0f-8e5e-4ab0-950e-8d2411a4d60c" file="mule-artifact.properties" />
	<flow name="adding-a-new-customer-to-workday-revenue-managementFlow" doc:id="7fd1abfa-b894-46b9-9969-81d99ea36f06" >
		<http:listener doc:name="Listener" doc:id="34cfaaf0-7064-488f-9089-572ec13345d0" config-ref="HTTP_Listener_config" path="/"/>
		<ee:transform doc:name="Prepare submit customer request" doc:id="ee619409-645c-450b-a810-1271e73fd180">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Submit_Customer_Request: {
		
		ns0#Add_Only: true,
		ns0#Customer_Data: {
			ns0#Customer_ID: payload.root.Account.CustomerName,
			ns0#Customer_Reference_ID: payload.root.Account.CustomerName,
			ns0#Customer_Name: payload.root.Account.CustomerName,
			ns0#Business_Entity_Data: {
				ns0#Business_Entity_Name : payload.root.Account.BusinessEntityName
			},
			ns0#Customer_Category_Reference: {
				ns0#ID 
				@(ns0#"type": payload.root.Account.Customer_Category_Reference_Type)
				: payload.root.Account.Customer_Category_Reference_Value
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<workday:invoke doc:name="Submit new customer" doc:id="b5abeb25-0a9f-4cea-8459-c3284a953674" config-ref="Workday_Config" service="Revenue_Management" operation="Submit_Customer"/>
		<ee:transform doc:name="Build response" doc:id="35519f3b-5fa6-4a7a-ab32-36bba281f088">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
payload.body.Submit_Customer_Response]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
