anypoint-examples-4.1/querying-a-mysql-database/src/main/mule/querying-a-mysql-database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f8f56d5b-30ab-42c6-86c5-cb5cec804fce" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1cedb1c0-ebbb-4065-b42e-ddf03e5e5dba" >
		<db:my-sql-connection host="${database.host}" port="${database.port}" user="${database.user}" password="${database.password}" database="${database.name}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="8a0970f7-7cd2-42c6-9041-9806dff7b6a4" file="mule-artifact.properties" />
	<flow name="querying-a-mysql-databaseFlow" doc:id="83a86419-adbe-4f6d-9c7f-ec9440c51b12" >
		<http:listener config-ref="HTTP_Listener_config" path="/" doc:name="Listener" doc:id="5648830f-9c42-40c7-9dc2-037d4d4ae546" />
		<db:select config-ref="Database_Config" doc:name="Perform a query in MySQL" doc:id="39e586c3-6b0c-4974-aa14-c99d68d490da" >
			<db:sql >select first_name from employees where last_name = :lastName</db:sql>
			<db:input-parameters><![CDATA[#[{'lastName' : attributes.queryParams.lastname}]
       		]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d9c934d8-4dd3-444a-a01c-2d93cf6ecf2b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
